SQLAlchemy
Werkzeug
WTForms
Flask
flask-admin
flask-login
flask-mail
flask-migrate
flask-mobility
flask-socketio
flask-sqlalchemy
flask-security
flask-cors
pymorphy2
eventlet
alembic
sqlalchemy-serializer
email-validator
Jinja2