{% set header = "header" if not request.MOBILE else "mobile-header" %}
<!--suppress SpellCheckingInspection -->
<meta charset="utf-8">
<script src="{{ url('static', filename='js/yandex-metrica.js') }}"></script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/82265269" style="position:absolute; left:-9999px;"
              alt=""/></div>
</noscript>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ url('static', filename='images/Logo-sqr.png') }}"
      type="image/png">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<link rel="stylesheet" href="{{ url('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url('static', filename='css/' + header + '.css') }}">
<link rel="stylesheet" href="{{ url('static', filename='css/light-footer.css') }}">