{% extends "site/base.html" %}

{% set width %}
{% if not request.MOBILE %}
    70%
{% else %}
    auto
{% endif %}
{% endset %}

{% block content %}
    <style>
        body {
            background-image: url({{ url('static', filename='images/index-background.jpg') }});
            background-attachment: fixed;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
          rel="stylesheet">
    <div>
        {% if not request.MOBILE %}
            <h1 style="text-align: center;font-size: 100px;color: white;margin-top: 50px">МАОУ СОШ
                №146</h1>
        {% else %}
            <h1 style="text-align: center;font-size: 35px;color: white;margin-top: 30px">МАОУ СОШ
                №146</h1>
        {% endif %}
    </div>
    <div style="background-color: rgba(0,0,0,.3);border: 3px solid white;width: {{ width }};
            display: block;border-radius: 10px; margin: 30px auto auto;">
        <p style="color:white; font-family: Montserrat, monospace;
                {{ 'font-size: 1.2em;' if not request.MOBILE else '' }}
                vertical-align: baseline; margin: 10px">
            Школа №146 является лидирующей в Пермского крае.<br>
            Она входит в сотню лучших по конкурентоспособности школ России.<br>
            Главная гордость школы №146 – её замечательные выпускники, которые поступают в лучшие
            ВУЗы России и зарубежья.
        </p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide rounded" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <br>
        <div class="carousel-inner rounded">
            {% for i in range(3) %}
                <div class="carousel-item {{ 'active' if i == 0 else '' }}">
                    <img src="{{ url('static', filename='images/school' + loop.index|string() + '.jpg') }}"
                         class="d-block w-100 img-fluid rounded"
                         alt="Изображение школы {{ loop.index }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
{% endblock %}