{% extends "site/base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url('.static', filename='css/login.css') }}">
    <div id="login-form">
        <h1 style="text-align: center">{{ title }}</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <table class="layout-table" style="width: 100%">
                <td>
                    <div class="form-check form-switch"
                            {% if request.MOBILE %}
                         style="width: 100vw"
                            {% endif %}>
                        {{ form.remember_me(class="form-check-input", id="remember-me") }}
                        {{ form.remember_me.label(class="form-check-label", for="remember-me") }}
                    </div>
                </td>
                <td style="text-align: right">
                    <a href="#" onclick="resetPassword($('#email').val())" class="normal-link">
                        Забыли пароль?
                    </a>
                </td>
            </table>

            <br>
            <div>{{ form.submit(type="submit", class="btn btn-info") }}</div>
        </form>

    </div>
    {% if message %}
        <div class="modal fade auth-modal" id="myModal" tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Сообщение от сайта</h5>
                        <button type="button" class="btn-close" id="modal-close-btn"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer" id="modal-ok-btn">
                        <button type="button" class="btn btn-info">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{{ url('.static', filename='js/login.js') }}"></script>

{% endblock %}