{% extends "site/base.html" %}

{% block content %}
<style>
        .privacy-ol {
            list-style: none;
            counter-reset: li;
        {% if request.MOBILE %}
            padding-left: 10px;
        {% endif %}
        }

        .privacy-li:before {
            counter-increment: li;
            content: counters(li, ".") ". ";
        }

        {% if request.MOBILE %}
            main {
                padding: 0 !important;
            }
        {% endif %}

        body {
            background-image: url({{ url('static', filename='images/index-background.jpg') }});
            background-attachment: fixed;
        }
</style>
    {% if not request.MOBILE %}
<h1 style="margin: 70px; color: white; text-align: center;">Политика конфиденциальности</h1>
<div style="background-color: white; padding: 20px 40px;">
    {% else %}
    <h2 style="margin: 10px; color: white; text-align: center;">Политика конфиденциальности</h2>
    {% endblock %}
